@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

:root {
	--header-height-before: 114px;
	--header-height-after: 78px;
	--layout-width: 1320px;
}	

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
    font-family: 'Centra', sans-serif;
    font-size: 1.6rem;
}