@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

:root {
	--header-height-before: 114px;
	--header-height-after: 78px;
	--toggle-menu-height: 130px;
	--layout-width: 1320px;
	--max-layout-width-lg: 100px;
	--max-layout-width-sm: 36px;

	--header-scroll-color: #121212;
	--primary-color: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
	--second-color: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
	--white-color: #fff;
	--border-color: rgba(255, 255, 255, 0.5);

	--font-family: 'Centra', sans-serif;
}	

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--header-height-after) + 70px);
	-webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
}